@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   overflow-x: hidden; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    /* Colors */
    --color-hero-background: rgba(153,157,158, 1);
    --color-white: rgba(255, 255, 255, 1);
    --color-black: rgba(28, 29, 32, 1);

    /* Font Family*/
    --Poppins: "poppins", Arial, Helvetica, sans-serif;
}

.heroSection {
    width: 100vw;
    height: 110vh;
    margin: auto;
    background-image: url(Images/Dennis.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    background-color: var(--color-hero-background);
    position: relative;
}

.heroHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 3em;
}

.headerLeftSide {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    font-family: var(--Poppins);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    
    & p { 
        color: var(--color-white);
        text-decoration-line: none;
        text-wrap: nowrap;
    }

    &:hover .codeByDennis {
        transform: translateX(-44%);
    }

    &:hover .codeByDennisContainer {
        width: 10em;
    }

    &:hover .copyrightSign {
        transform: rotate(360deg);
    }
}

.copyrightSign {
    transition: transform 300ms ease;
}

.codeByDennisContainer {
    width: 8.1em;
    overflow: hidden;
    transition: width 300ms ease;
}

.codeByDennis {
    transition: transform 300ms ease;
}

.headerRightSide ul {
    display: flex;
    list-style: none;
    font-family: var(--Poppins);
    font-size: 1rem;
    font-weight: 500;
    gap: 3em;

    & a {
        color: var(--color-white);
        text-decoration-line: none;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 0.5em;
            height: 0.5em;
            background-color: var(--color-white);
            border-radius: 50%;
            inset: auto 55% -1.5em 45%;
            opacity: 0;
            transform: scale(0);
            transition: opacity 300ms ease, transform 300ms ease;
        }

        &:hover::after {
            opacity: 1;
            transform: scale(1);
        }
    }
}

.heroMainName {
    color: var(--color-white);
    font-family: var(--Poppins);
    font-size: 6vw;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 10%;
    overflow-x: hidden;
}

.heroNameAnimationSlide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: mainNameAnimation 10000ms linear infinite;
}

.heroAnimatedName {
    font-weight: 400;
    user-select: none;
}

@keyframes mainNameAnimation {
    100% {
        transform: translateX(-50%);
    }
}

.freelanceInto {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 5em;
    width: max-content;
    height: max-content;
    position: absolute;
    top: 30vh;
    right: 0;
    border-radius: 0 999em 0 0;
    padding-right: 5em;

    & p {
        color: var(--color-white);
        font-family: var(--Poppins);
        font-size: 1.8rem;
        font-weight: 400;

    }

    &:hover .arrowInFreelanceSvg {
        transform: rotate(-90deg);
    }
}

.arrowInFreelanceSvg {
    fill: var(--color-white);
    width: 2em;
    transform: rotate(-135deg);
    transition: transform 300ms ease;
}

.heroLocatioContainer {
    position: absolute;
    left: 0;
    top: 40vh;
    height: max-content;
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    background-color: var(--color-black);
    border-radius: 0 99em 99em 0;
    padding: 1em 1em 1em 3em;
    user-select: none;

    & p {
        color: var(--color-white);
        font-family: var(--Poppins);
        font-size: 0.9rem;
        line-height: 110%;
    }
}

.svgBesideLocation {
    width: 4.2em;
    height: 4.2em;
    border-radius: 50%;
    background-color: var(--color-hero-background);
}

.detailsSection {
    max-width: 100em;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: top;
    gap: 3em;
    padding: 8em 12em;
    font-family: var(--Poppins);

    & h5 {
        color: var(--color-black);
        font-size: 1.5rem;
        font-weight: 400;
    }

    & p {
        color: var(--color-black);
        font-size: 0.9rem;
        font-weight: 400;
    }
}
