@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    overflow: hidden scroll; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    /* Colors */
    --color-hero-background: rgba(153,157,158, 1);
    --color-white: rgba(255, 255, 255, 1);
    --color-black: rgba(28, 29, 32, 1);
    --color-light-black: rgba(153, 157, 158, 0.6);
    --color-blue: rgba(69, 92, 233, 1);
    --color-blue-dark: rgba(51, 75, 211, 1);
    --color-menu-box-shadow: -10em 0 90em rgba(10, 10, 10, 0.2);

    /* Font Family*/
    --Poppins: "poppins", Arial, Helvetica, sans-serif;
}

.heroSection {
    width: 100vw;
    height: 110vh;
    margin: auto;
    background-image: url(Images/Dennis.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-color: var(--color-hero-background);
    position: relative;
}

.heroHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 3em;
}

.headerLeftSide {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    font-family: var(--Poppins);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    
    & p { 
        color: var(--color-white);
        text-decoration-line: none;
        text-wrap: nowrap;
    }

    &:hover .codeByDennis {
        transform: translateX(-44%);
    }

    &:hover .codeByDennisContainer {
        width: 10em;
    }

    &:hover .copyrightSign {
        transform: rotate(360deg);
    }
}

.copyrightSign {
    transition: transform 300ms ease-in-out;
}

.codeByDennisContainer {
    width: 8.1em;
    overflow: hidden;
    transition: width 300ms ease-in-out;
}

.codeByDennis {
    transition: transform 300ms ease-in-out;
}

.headerRightSide ul {
    display: flex;
    list-style: none;
    font-family: var(--Poppins);
    font-size: 1rem;
    font-weight: 500;
    gap: 3em;

    & a {
        color: var(--color-white);
        text-decoration-line: none;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 0.5em;
            height: 0.5em;
            background-color: var(--color-white);
            border-radius: 50%;
            inset: auto 55% -1.5em 45%;
            opacity: 0;
            transform: scale(0);
            transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
        }

        &:hover::after {
            opacity: 1;
            transform: scale(1);
        }
    }
}

.heroMainName {
    color: var(--color-white);
    font-family: var(--Poppins);
    font-size: 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 12%;
    animation: mainNameAnimation 20000ms linear infinite;
}

.heroNameAnimationSlide {
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@keyframes mainNameAnimation {
    100% {
        transform: translateX(-50%);
    }
}

.heroAnimatedName {
    font-weight: 400;
    user-select: none;
}

.freelanceInto {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 5em;
    width: max-content;
    height: max-content;
    position: absolute;
    top: 30vh;
    right: 0;
    border-radius: 0 999em 0 0;
    padding-right: 5em;

    & p {
        color: var(--color-white);
        font-family: var(--Poppins);
        font-size: 1.8rem;
        font-weight: 400;

    }

    &:hover .arrowInFreelanceSvg {
        transform: rotate(-90deg);
    }
}

.arrowInFreelanceSvg {
    fill: var(--color-white);
    width: 2em;
    transform: rotate(-135deg);
    transition: transform 300ms ease-in-out;
}

.heroLocatioContainer {
    position: absolute;
    left: 0;
    top: 40vh;
    height: max-content;
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    background-color: var(--color-black);
    border-radius: 0 99em 99em 0;
    padding: 1em 1em 1em 3em;
    user-select: none;

    & p {
        color: var(--color-white);
        font-family: var(--Poppins);
        font-size: 1rem;
        line-height: 115%;
    }
}

.svgBesideLocationContainer {
    width: 4.2em;
    height: 4.2em;
    border-radius: 50%;
    background-color: var(--color-hero-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.earthSvg {
    fill: var(--color-white);
    width: 2.5em;
    height: 2.5em;
    transition: transform;
    animation: earthSpinning 10000ms linear infinite;
}

@keyframes earthSpinning {
    100% {
        transform: rotate(360deg);
    }
}

.detailsSection {
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: top;
    gap: 3em;
    padding: 8em 10em;
    font-family: var(--Poppins);
    transform: translateY(5em);
    opacity: 0;
    transition: transform 400ms ease, opacity 500ms ease;

    & h5 {
        color: var(--color-black);
        font-size: 1.5rem;
        font-weight: 400;
    }

    & p {
        color: var(--color-black);
        font-size: 0.9rem;
        font-weight: 400;
    }
}

.recentWorkSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8em 10em;
    width: 100vw;
    margin: auto;
    position: relative;
}

.recentWorkArea {
    font-family: var(--Poppins);
    color: var(--color-black);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3em;
    position: relative;
    border-bottom: 0.0625em solid var(--color-light-black);
    transition: padding-inline 300ms ease-in-out, color 300ms ease-in-out;
}

.recentWorkNames:hover {
    padding-inline: 1em;
    color: var(--color-hero-background);
}

.recentWorkTitle p {
    font-size: 0.7rem;
    opacity: 0.5;
}

.recentWorkNames p {
    font-size: 0.9rem;
}

.recentWorkNames h1 {
    font-size: 3.5rem;
    font-weight: 400;
}

.tradeMark {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

.aboutMe {
    position: absolute;
    right: 5em;
    bottom: 5em;
    background-color: var(--color-black);
    width: 10em;
    height: 10em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 500;
    text-decoration-line: none;
}

.hoverBlue {
    transition: 300ms ease-in-out;
    transition-property: background-color, color, border;;

    &:hover {
        background-color: var(--color-blue);
        color: var(--color-white);
        border: solid 0.005em var(--color-blue);
    }
}

.moreWroks {
    font-family: var(--Poppins);
    font-size: 0.9rem;
    color: var(--color-black);
    margin-top: 4em;
    text-decoration: none;
    padding: 1em 2em;
    border-radius: 999em;
    border: 0.0625em solid var(--color-light-black);

    & sup {
        opacity: 0.6;
        margin-left: 0.3em;
    }
}

.menuSection {
    position: fixed;
    inset: 0 0 0 auto;
    height: 100vh;
    width: 30em;
    background-color: var(--color-black);
    padding: 5em;
    color: var(--color-white);
    font-family: var(--Poppins);
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    box-shadow: var(--color-menu-box-shadow);
    overflow: hidden scroll;
    transition: 300ms ease-in-out;
    transition-property: transform, opacity, border-radius;
    opacity: 0;
    transform: translateX(100%);
}

.menuSectionOpened {   /* This is for Javascript 'classList' */
    opacity: 1;
    transform: translateX(0);
}

.navigations, .socials {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    gap: 1em;

    & p {
        font-size: 0.7rem;
        opacity: 0.5;
    }
}

.navigations ul {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;

    & li {
        list-style: none;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: baseline;

        &::before {
            position: absolute;
            content: "";
            width: 0.7em;
            height: 0.7em;
            background-color: var(--color-white);
            border-radius: 50%;
            left: -2.5em;
            transform: scale(0);
            opacity: 0;
            transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
        }

        &:hover::before {
            transform: scale(1);
            opacity: 1;
        }
    }

    & a {
        color: var(--color-white);
        text-decoration: none;
        font-weight: 400;
        font-size: 3rem;
    }
}

.socialList {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.5em;

    & a {
        font-size: 0.8rem;
        font-weight: 400;
        color: var(--color-white);
        text-decoration: none;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 0.1em;
            background-color: var(--color-white);
            inset: auto 0 -0.3em 0;
            transform: scale(0);
            transform-origin: center;
            transition: transform 300ms ease-in-out;
        }
        
        &:hover::after {
            transform: scale(1);
        }
    }
}

.hamburgerMenuButton {
    background-color: var(--color-black);
    border: var(--color-light-black) solid 0.003em;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    position: fixed;
    top: 2em;
    right: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    gap: 0.3em;
    cursor: pointer;
    transform: scale(0);
    opacity: 0;
    pointer-events: none;
    transition: 300ms ease-in-out;
    transition-property: transform, opacity, background-color;
}

.hamburgerMenuButtonClickd {    /* This is for Javascript 'classList' */
    background-color: var(--color-blue);
}

.hamburgerMenuButtonAppeared {   /* This is for Javascript 'classList' */
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
}

.scrollAppeared {   /* This is for Javascript 'classList' */
    opacity: 1;
    transform: translateY(0);
}

.hamburgerButtonLines {
    width: 30%;
    height: 0.1em;
    background-color: var(--color-white);
    border-radius: 99em;
}

.cursorHoverWorkImage {
    width: 20em;
    height: 20em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 5;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms ease-in-out;
    transition-property: transform, opacity;
    opacity: 0;
    position: absolute;
    transform: scale(0);
}


.hoveredOnWork {   /* This is for Javascript 'classList' */
    opacity: 1;
    transform: scale(1);
}

.fabricImage {
    background-image: url(Images/Thumbnail-Fabric.jpg);
}

.aanstekelijkImage {
    background-image: url(Images/Thumbnail-Aanstekelijk.jpg);
}

.basecreateImage {
    background-image: url(Images/Thumbnail-Base-Create.jpg);
}

.avvrImage {
    background-image: url(Images/Thumbnail-Avvr.jpg);
}

.viewSiteInformation {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: var(--color-blue);
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
        
    & p {
        color: var(--color-white);
        font-family: var(--Poppins);
        font-weight: 500;
        font-size: 1rem;
    }
}

footer {
    overflow: hidden;
    height: 60em;
    width: 100vw;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: var(--Poppins);
}

.profileContainer {
    width: 70%;
    height: max-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 4em;
}

.topSection {
    position: relative;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: baseline;
    color: var(--color-white);
    padding-bottom: 6em;
    width: 100%;
    height: 50%;
    border-bottom: solid var(--color-light-black) 0.005em;
    
    & .divOne {
        display: flex;
        gap: 1em;
        align-items: center;
    }
    
    & h1 {
        font-weight: 400;
        font-size: 4.5rem;
    }
    
    & .DP {
        background-image: url(Images/Dennis-Cut.jpg);
        background-position: center;
        background-size: cover;
        height: 5em;
        width: 5em;
        border-radius: 50%;
        margin-right: 0.5em;
    }
}

.contactButtons {
    display: flex;
    align-items: first baseline;
    justify-content: left;
    width: 100%;
    height: 50%;
    gap: 5em;
    font-size: 1rem;
    
    & a {
        border: solid var(--color-light-black) 0.005em;
        color: var(--color-white);
        text-decoration: none;
        padding: 1em 1.5em;
        border-radius: 99em;
    }
}

.getInTouch {
    position: absolute;
    right: 5em;
    transform: translateY(85%);
    color: var(--color-white);
    text-decoration: none;
    width: 10em;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--color-blue);
    border-radius: 50%;
}

.arrowFooterSvg {
    position: absolute;
    fill: var(--color-white);
    width: 2em;
    transform: rotate(-45deg);
    inset: 5em 0 auto auto;
}

.hoverDarkBlue {
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out, outline 300ms ease-in-out;
    
    &:hover {
        background-color: var(--color-blue-dark);
        color: var(--color-white);
        outline: none;
    }
}

.bottomInfosContainer {
    display: flex;
    height: max-content;
    align-items: center;
    justify-content: space-between;
    padding: 2em 4em;

    & .versionFooter {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: left;
        gap: 0.5em;

        & p {
            font-size: 0.7rem;
            font-weight: 400;
            color: var(--color-light-black);
        }
        
        & h6 {
            font-size: 0.9rem;
            font-weight: 500;
            color: var(--color-white);
        }
    }

    & .socialsFooter {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: left;
        gap: 0.5em;

        & p {
            font-size: 0.7rem;
            font-weight: 400;
            color: var(--color-light-black);
        }
    }
}

.socialListFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    
    & a {
        font-size: 0.9rem;
        font-weight: 500;
        color: var(--color-white);
        text-decoration: none;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 0.1em;
            background-color: var(--color-white);
            inset: auto 0 -0.3em 0;
            transform: scale(0);
            transform-origin: center;
            transition: transform 300ms ease-in-out;
        }

        &:hover::after {
            transform: scale(1);
        }
    }
}
