@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    overflow: hidden scroll; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: var(--color-black);
}

:root {
    /* Colors */
    --color-hero-background: rgba(153,157,158, 1);
    --color-white: rgba(255, 255, 255, 1);
    --color-black: rgba(28, 29, 32, 1);
    --color-light-black: rgba(153, 157, 158, 0.6);
    --color-blue: rgba(69, 92, 233, 1);
    --color-blue-dark: rgba(51, 75, 211, 1);
    --color-menu-box-shadow: -10em 0 90em rgba(10, 10, 10, 0.2);
    
    /* Font Family*/
    --Poppins: "poppins", Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 3em;
}

.headerLeftSide {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    font-family: var(--Poppins);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    position: relative;
    
    & p { 
        color: var(--color-white);
        text-decoration-line: none;
        text-wrap: nowrap;
    }
    
    &:hover .codeByDennis {
        transform: translateX(-44%);
    }
    
    &:hover .codeByDennisContainer {
        width: 10em;
    }
    
    &:hover .copyrightSign {
        transform: rotate(360deg);
    }
}

.copyrightSign {
    transition: transform 300ms ease-in-out;
}

.codeByDennisContainer {
    width: 8.1em;
    overflow: hidden;
    transition: width 300ms ease-in-out;
}

.codeByDennis {
    transition: transform 300ms ease-in-out;
}

.headerRightSide ul {
    display: flex;
    list-style: none;
    font-family: var(--Poppins);
    font-size: 1rem;
    font-weight: 500;
    gap: 3em;
    
    & a {
        color: var(--color-white);
        text-decoration-line: none;
        position: relative;
        
        &::after {
            content: "";
            position: absolute;
            width: 0.5em;
            height: 0.5em;
            background-color: var(--color-white);
            border-radius: 50%;
            inset: auto 55% -1.5em 45%;
            opacity: 0;
            transform: scale(0);
            transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
        }
        
        &:hover::after {
            opacity: 1;
            transform: scale(1);
        }
    }
}

main {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 8em;
    gap: 2em;
    font-family: var(--Poppins);
    color: var(--color-white);
    overflow: hidden;
}

.left_column {
    height: max-content;
    width: 65%;
    
    /* border: red solid 1px; */
    & h1 {
        font-size: 4.5rem;
        font-weight: 400;
        line-height: 100%;
        border-bottom: var(--color-light-black) 0.005em solid;
        padding-bottom: 3em;
    }
}

.inputs {
    border-bottom: var(--color-light-black) 0.005em solid;
    padding: 2em 0 0 3em;
    
    & h5 {
        font-size: 1.4rem;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: left;
        position: relative;
        
        &::before {
            position: absolute;
            text-align: center;
            font-size: 1rem;
            left: -3em;
            opacity: 0.5;
        }
    }
    
    & input {
        font-weight: 400;
        color: var(--color-white);
        background: transparent;
        border: none;
        outline: none;
        margin-top: 0.5em;
        width: 100%;
        font-size: 1.4rem;
        padding-bottom: 2em;

        &::placeholder {
            font-size: 1.4rem;
        }
    }
}

.input_title_one::before {
    content: "01";
} 

.input_title_two::before {
    content: "02";
} 

.input_title_three::before {
    content: "03";
} 

.input_title_four::before {
    content: "04";
} 

.input_title_five::before {
    content: "05";
} 

footer {
    display: flex;
    height: max-content;
    align-items: center;
    justify-content: space-between;
    padding: 2em 4em;
    font-family: var(--Poppins);
    
    & .versionFooter {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: left;
        gap: 0.5em;
        
        & p {
            font-size: 0.7rem;
            font-weight: 400;
            color: var(--color-light-black);
        }
        
        & h6 {
            font-size: 0.9rem;
            font-weight: 500;
            color: var(--color-white);
        }
    }

    & .socialsFooter {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: left;
        gap: 0.5em;

        & p {
            font-size: 0.7rem;
            font-weight: 400;
            color: var(--color-light-black);
        }
    }
}

.socialListFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    
    & a {
        font-size: 0.9rem;
        font-weight: 500;
        color: var(--color-white);
        text-decoration: none;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 0.1em;
            background-color: var(--color-white);
            inset: auto 0 -0.3em 0;
            transform: scale(0);
            transform-origin: center;
            transition: transform 300ms ease-in-out;
        }

        &:hover::after {
            transform: scale(1);
        }
    }
}

.right_column {
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: baseline;
     justify-content: space-between;
    gap: 2em;

    .DP_area {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-between;
        gap: 5em;
        margin-bottom: 3em;
        
        .DP {
            width: 6em;
            height: 6em;
            border-radius: 50%;
            background-image: url(../Images/Dennis-Cut.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        
        .DP_arrow_svg {
            fill: var(--color-white);
            width: 2em;
            height: 2em;
            transform: rotate(-135deg);
            transition: transform ease-in-out 300ms;
        }
    }

    &:hover .DP_arrow_svg {
        transform: rotate(-90deg);
    }

    .area_title {
        color: var(--color-light-black);
        font-size: 0.7rem;
        font-weight: 500;
    }

      .right_column_areas {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-between;
        gap: 0.5em;

        .links_infos {
            color: var(--color-white);
            text-decoration: none;
            font-size: 1rem;
            font-weight: 400;
        }
        
        .links {
            position: relative;

            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 0.1em;
                background-color: var(--color-white);
                inset: auto 0 -0.3em 0;
                transform: scale(0);
                transform-origin: center;
                transition: transform 300ms ease-in-out;
            }
    
            &:hover::after {
                transform: scale(1);
            }
        }
      }  
}
